streamlit==1.35.0
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
lifelines==0.27.8
plotly==5.22.0
matplotlib==3.8.4
seaborn==0.13.2
shap==0.45.1
imbalanced-learn==0.12.2
xgboost==2.0.3
lightgbm==4.3.0
scipy==1.13.0
statsmodels==0.14.2
python-dotenv==1.0.1
st-aggrid==0.3.4.post3
streamlit-option-menu==0.3.12
